@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}
body {
  background-color: rgb(255, 222, 0);
}
header {
  height: 15vh;
  text-align: center;
  font-size: 48px;
}

.pokedex {
  border-radius: 15px;
  background-color: white;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  max-width: 900px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pokemon {
  background-color: rgb(255, 222, 0);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
  margin-right: auto;
  margin-left: auto;
  margin-top: -150px;
  width: 250px;
  height: 250px;
}

.buttons {
  margin-top: 15px;
}
.buttons button {
  margin-left: 10px;
}